*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  color: #001d01;
  background-color: #f5f3e6;
}

@-webkit-keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes carAnimation {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(10%);
  }
}
@keyframes carAnimation {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(10%);
  }
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  gap: 40%;
  border-bottom: 1px solid #e7e5d6;
}
.nav__logo-h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  transition: 0.3s transform;
  color: #001d01;
}
.nav__logo-h1 span {
  color: #5f9ea0;
}
.nav__logo-h1:hover {
  color: #5f9ea0;
  transform: scale(1.2);
}
.nav__logo-h1:hover span {
  color: #001d01;
}

.burger-btn {
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: black;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 10px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 21px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav__wrapper {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #f5f3e6;
  z-index: 100;
}
.nav__wrapper--active {
  transform: translateX(0);
}

.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #001d01;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  background-color: #5f9ea0;
  transition: transform 0.3s;
  content: "";
}
.nav__item:hover::before {
  transform: scaleY(1);
}

.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.main__wrapper {
  width: 100%;
}
.main__wrapper .main__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4em 2em;
}
.main__wrapper .main__items .main__item-first {
  margin-bottom: 2em;
}
.main__wrapper .main__items .main__item-first h2 {
  font-size: 3rem;
  padding-bottom: 0.25em;
}
.main__wrapper .main__items .main__item-first h2 span {
  color: #5f9ea0;
  font-family: "Nunito", sans-serif;
}
.main__wrapper .main__items .main__item-first p {
  font-size: 1.8rem;
}
.main__wrapper .main__items .main__item-first p span {
  font-size: 2.5rem;
}
.main__wrapper .main__items .main__item-btn {
  margin-top: 0.5em;
  padding: 1em 2em;
  background-color: #5f9ea0;
  font-family: "Nunito", sans-serif;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 25px;
  transition: 0.3s transform;
}
.main__wrapper .main__items .main__item-btn:hover {
  transform: scale(1.1);
}
.main__wrapper .main__items .main__item-secound {
  width: 250px;
  height: 250px;
  background-color: #5f9ea0;
  border-radius: 35%;
  transform: rotate(-5deg);
  background-image: url("/img/car.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  -webkit-animation: carAnimation 2s ease infinite alternate backwards;
          animation: carAnimation 2s ease infinite alternate backwards;
}

@media (min-width: 992px) {
  .nav__wrapper {
    position: static;
    display: block;
    height: auto;
    width: auto;
    transform: none;
    transition: none;
    z-index: 0;
    background: none;
  }
  .nav__item {
    display: inline-block;
    font-size: 2.2rem;
    margin: 0;
    padding: 0.5em 1.5em;
    transition: 0.3s;
  }
  .nav__item::before {
    display: none;
  }
  .nav__item:hover {
    transform: scale(1.1);
    color: #5f9ea0;
  }
  .burger-btn {
    display: none;
  }
  .main__wrapper .main__items {
    flex-direction: row;
    margin: 10em 2em;
    gap: 40%;
  }
  .main__wrapper .main__items .main__item-btn {
    margin-top: 0.5em;
    padding: 1em 3em;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */