@use 'colors' as *;

//      NAV      //
@keyframes navItemsAnimation {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

//      MAIN      //
@keyframes carAnimation {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(10%);
    }
}

@keyframes buttonAnimation {
    0% {
        box-shadow: 0 0 0 0 $green;
    }
}