@use 'colors' as *;

//font-family: 'Nunito', sans-serif;
//font-family: 'Raleway', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: $main-text;
    background-color: $bg-color;
}