@use 'colors' as *;

//font-family: 'Nunito', sans-serif;
//font-family: 'Raleway', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: $main-text;
    background-color: $bg-color;
}

::-webkit-scrollbar {
    width: 0.5em;
    background-color: #fff;
}

::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 10px rgba(46, 46, 46, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $green;
}