@use 'reset' as *;
@use 'colors' as *;
@use 'animations' as *;

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

//      NAV      //
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 40%;
    border-bottom: 1px solid $border-color;

    &__logo {
        &-h1 {
            font-family: 'Nunito', sans-serif;
            font-size: 3rem;
            transition: 0.3s transform;
            color: $main-text;

            span {
                color: $green;
            }
        }

        &-h1:hover {
            color: $green;
            transform: scale(1.2);

            span {
                color: $main-text;
            }
        }
    }
}

.burger-btn {
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

    &:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 8px;
    }

    &:hover {

        .burger-btn__bars::after,
        .burger-btn__bars::before {
            width: 100%;
        }
    }

    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }

    &__bars,
    &__bars::after,
    &__bars::before {
        position: absolute;
        right: 0;
        height: 3px;
        content: '';
        background-color: black;
        transition: width .3s;
    }

    &__bars {
        width: 100%;

        &::after {
            top: 10px;
            width: 60%;
        }

        &::before {
            top: 21px;
            width: 30%;
            transition-delay: .1s;
        }
    }
}

.nav__wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-color: $bg-color;
    z-index: 100;

    &--active {
        transform: translateX(0);
    }
}

.nav__item {
    position: relative;
    display: block;
    margin: 0.5em 0;
    padding: 0.5em 2em;
    font-size: 2.8rem;
    color: $main-text;
    text-decoration: none;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        transform: scaleY(0);
        background-color: $green;
        transition: transform .3s;
        content: '';
    }

    &:hover::before {
        transform: scaleY(1);
    }
}

.nav-items-animation {
    animation: navItemsAnimation 1s both;
}

//


//      Main     //
.main__wrapper {
    width: 100%;

    .main__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 4em 2em;

        .main__item {

            &-first {
                margin-bottom: 2em;

                h2 {
                    font-size: 3rem;
                    padding-bottom: 0.25em;

                    span {
                        color: $green;
                        font-family: 'Nunito', sans-serif;
                    }
                }

                p {
                    font-size: 1.8rem;

                    span {
                        font-size: 2.5rem;
                    }
                }
            }

            &-btn {
                display: inline-block;
                text-decoration: none;
                margin-top: 0.5em;
                padding: 1em 2em;
                background-color: $green;
                font-family: 'Nunito', sans-serif;
                color: white;
                border: none;
                font-size: 1.5rem;
                border-radius: 25px;
                transition: 0.3s transform;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &-secound {
                width: 250px;
                height: 250px;
                background-color: $green;
                border-radius: 35%;
                transform: rotate(-5deg);
                background-image: url('../img/logo/car.svg');
                background-repeat: no-repeat;
                background-size: 75%;
                background-position: center;
                animation: carAnimation 2s ease infinite alternate backwards;
            }
        }
    }
}


.offers {
    position: relative;
    overflow: hidden;

    &__title {
        padding: 1.5em;

        &-h2 {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Nunito', sans-serif;
            font-size: 2.6rem;
        }
    }

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }

    &__option {
        margin: 1em 0;
        border: 2px solid $border-color;
        box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.2);
        overflow: hidden;
        border-radius: 20px;

        &-img {
            width: 100%;
            transition: transform .3s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-info {
            padding: 2em;
            z-index: 10;
        }

        &-heading {
            margin-bottom: 0.5em;
            font-size: 2.4rem;
            font-weight: 300;
        }

        &-price {
            margin-bottom: 0.5em;
            font-size: 1.6rem;
            color: $green;
        }

        &-text {
            margin-bottom: 0.5em;
            font-size: 1.3rem;
            color: $main-text;
        }

        &-btn {
            margin-top: 1em;
            padding: 0.8em;
            width: 100%;
            color: #fff;
            background-color: $green;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            &:hover,
            &:focus {
                animation: buttonAnimation 1s;
                box-shadow: 0 0 0 0.5em transparent;
            }
        }
    }

}

.vehicles {
    position: relative;
    overflow: hidden;

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }

    &__title {
        padding: 1.5em;

        &-h2 {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Nunito', sans-serif;
            font-size: 2.6rem;
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        &-box {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }

            &:hover {
                .vehicles__gallery-shadow {
                    opacity: 0.8;
                }

                .vehicles__gallery-text {
                    display: inline-block;
                }
            }
        }

        &-shadow {
            display: flex;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 15px;
            transition: 0.3s;
        }

        &-text {
            display: none;
            font-size: 2.5rem;
            color: #fff;
        }
    }
}

@media (min-width: 576px) {

    .offers {
        &__option {
            display: flex;
            margin: 2em 0;
            width: 100%;

            &-img {
                width: 50%;
                height: auto;

                &--right {
                    order: 1;
                }
            }

            &-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &-btn {
                padding: 1em;
            }
        }
    }
}

@media(min-width: 768px) {
    .vehicles {
        &__gallery {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

//      Media - 992px      //
@media(min-width: 992px) {
    .nav {
        &__wrapper {
            position: static;
            display: block;
            height: auto;
            width: auto;
            transform: none;
            transition: none;
            z-index: 0;
            background: none;
        }

        &__item {
            display: inline-block;
            font-size: 2.2rem;
            margin: 0;
            padding: 0.5em 1.5em;
            transition: 0.3s;

            &::before {
                display: none;
            }

            &:hover {
                transform: scale(1.1);
                color: $green;
            }
        }
    }

    .burger-btn {
        display: none;
    }

    .main__wrapper {
        .main__items {
            flex-direction: row;
            margin: 10em 2em;
            gap: 15%;

            .main__item {
                &-btn {
                    margin-top: 0.5em;
                    padding: 1em 3em;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .offers {
        &__option {
            &-img {
                object-fit: cover;
                height: 300px;
            }

            &-text {
                font-size: 1.5rem;
            }
        }
    }
}